In [1]:
import pandas as pd

In [2]:
# Read the data into a Pandas DataFrame
train = pd.read_csv("2023-01-24-updated_train.csv")

In [3]:
# Display the data

train.head()

,LotArea,LotShape,Neighborhood,BldgType,YearBuilt,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,DateSold,SalePrice
0,5000,Reg,BrkSide,1Fam,1946,1950,GasA,334,1,0,1,0,NaN,0,N,0,2007-01-01,39300
1,6627,IR1,BrkSide,1Fam,1949,1950,Floor,720,1,0,2,0,Detchd,1,Y,0,2008-07-01,72500
2,8400,Reg,SWISU,1Fam,1920,1950,GasA,728,1,0,1,0,Detchd,1,N,0,2009-01-01,60000
3,7200,Reg,NAmes,1Fam,1955,2007,GasA,827,1,0,2,1,Detchd,1,Y,0,2010-04-01,107500
4,11500,IR1,Edwards,1Fam,1957,1957,GasA,845,1,0,3,0,Detchd,1,N,0,2009-01-01,84000

In [4]:
# Read the data from the neighborhood dataset

neighborhood = pd.read_csv("Neighborhood_Dataset.csv")

In [5]:
# Display the neighborhood dataset

neighborhood.head()

  Neighborhood              Column2
0      Blmngtn  Bloomington Heights
1      Blueste             Bluestem
2       BrDale            Briardale
3      BrkSide            Brookside
4      ClearCr          Clear Creek

In [6]:
# Merge neighborhood dataframe with train datadrame

updated_train = pd.merge(train, neighborhood, on = "Neighborhood", how = "inner")

updated_train.head()

,LotArea,LotShape,Neighborhood,BldgType,YearBuilt,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,DateSold,SalePrice,Column2
0,5000,Reg,BrkSide,1Fam,1946,1950,GasA,334,1,0,1,0,NaN,0,N,0,2007-01-01,39300,Brookside
1,6627,IR1,BrkSide,1Fam,1949,1950,Floor,720,1,0,2,0,Detchd,1,Y,0,2008-07-01,72500,Brookside
2,6240,Reg,BrkSide,1Fam,1947,1950,GasA,912,1,0,2,0,NaN,0,N,0,2006-07-01,80500,Brookside
3,4130,IR1,BrkSide,1Fam,1935,2003,GasA,999,1,0,2,0,NaN,0,N,0,2008-07-01,52000,Brookside
4,6324,IR1,BrkSide,1Fam,1927,1950,GasA,1040,1,0,1,0,Detchd,1,Y,0,2008-05-01,68500,Brookside

In [7]:
# Drop original neighborhood column

final_train = updated_train.drop(["Neighborhood"], axis=1)

final_train.head()

,LotArea,LotShape,BldgType,YearBuilt,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,DateSold,SalePrice,Column2
0,5000,Reg,1Fam,1946,1950,GasA,334,1,0,1,0,NaN,0,N,0,2007-01-01,39300,Brookside
1,6627,IR1,1Fam,1949,1950,Floor,720,1,0,2,0,Detchd,1,Y,0,2008-07-01,72500,Brookside
2,6240,Reg,1Fam,1947,1950,GasA,912,1,0,2,0,NaN,0,N,0,2006-07-01,80500,Brookside
3,4130,IR1,1Fam,1935,2003,GasA,999,1,0,2,0,NaN,0,N,0,2008-07-01,52000,Brookside
4,6324,IR1,1Fam,1927,1950,GasA,1040,1,0,1,0,Detchd,1,Y,0,2008-05-01,68500,Brookside

In [8]:
# Rename 'column2' to 'Neighborhood'

final_train.rename(columns = {'Column2':'Neighborhood'}, inplace = True)

In [9]:
# Display work in progress

final_train

,LotArea,LotShape,BldgType,YearBuilt,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,DateSold,SalePrice,Neighborhood
0,5000,Reg,1Fam,1946,1950,GasA,334,1,0,1,0,NaN,0,N,0,2007-01-01,39300,Brookside
1,6627,IR1,1Fam,1949,1950,Floor,720,1,0,2,0,Detchd,1,Y,0,2008-07-01,72500,Brookside
2,6240,Reg,1Fam,1947,1950,GasA,912,1,0,2,0,NaN,0,N,0,2006-07-01,80500,Brookside
3,4130,IR1,1Fam,1935,2003,GasA,999,1,0,2,0,NaN,0,N,0,2008-07-01,52000,Brookside
4,6324,IR1,1Fam,1927,1950,GasA,1040,1,0,1,0,Detchd,1,Y,0,2008-05-01,68500,Brookside
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,10084,Reg,1Fam,2004,2005,GasA,3380,2,0,3,1,Attchd,2,Y,0,2007-08-01,307000,Somerset
1147,9416,Reg,1Fam,2007,2007,GasA,3452,2,0,3,1,Attchd,3,Y,0,2007-09-01,311872,Somerset
1148,9986,Reg,1Fam,2006,2007,GasA,3590,2,0,2,1,Attchd,3,Y,0,2007-02-01,147000,Somerset
1149,11670,IR1,1Fam,2006,2006,GasA,3810,2,0,3,1,Attchd,3,Y,0,2007-03-01,320000,Somerset
1150,20896,IR2,1Fam,2005,2006,GasA,4174,1,1,1,1,Attchd,3,Y,0,2006-01-01,423000,Somerset

In [10]:
# Move new neighborhood column to original position

colNeighbor = final_train.pop('Neighborhood')

final_train.insert(4, 'Neighborhood', colNeighbor)

final_train

,LotArea,LotShape,BldgType,YearBuilt,Neighborhood,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,DateSold,SalePrice
0,5000,Reg,1Fam,1946,Brookside,1950,GasA,334,1,0,1,0,NaN,0,N,0,2007-01-01,39300
1,6627,IR1,1Fam,1949,Brookside,1950,Floor,720,1,0,2,0,Detchd,1,Y,0,2008-07-01,72500
2,6240,Reg,1Fam,1947,Brookside,1950,GasA,912,1,0,2,0,NaN,0,N,0,2006-07-01,80500
3,4130,IR1,1Fam,1935,Brookside,2003,GasA,999,1,0,2,0,NaN,0,N,0,2008-07-01,52000
4,6324,IR1,1Fam,1927,Brookside,1950,GasA,1040,1,0,1,0,Detchd,1,Y,0,2008-05-01,68500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,10084,Reg,1Fam,2004,Somerset,2005,GasA,3380,2,0,3,1,Attchd,2,Y,0,2007-08-01,307000
1147,9416,Reg,1Fam,2007,Somerset,2007,GasA,3452,2,0,3,1,Attchd,3,Y,0,2007-09-01,311872
1148,9986,Reg,1Fam,2006,Somerset,2007,GasA,3590,2,0,2,1,Attchd,3,Y,0,2007-02-01,147000
1149,11670,IR1,1Fam,2006,Somerset,2006,GasA,3810,2,0,3,1,Attchd,3,Y,0,2007-03-01,320000
1150,20896,IR2,1Fam,2005,Somerset,2006,GasA,4174,1,1,1,1,Attchd,3,Y,0,2006-01-01,423000

In [11]:
# Making a copy of dataset for cleaning purposes

cleaning_data = final_train.copy()

cleaning_data

,LotArea,LotShape,BldgType,YearBuilt,Neighborhood,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,DateSold,SalePrice
0,5000,Reg,1Fam,1946,Brookside,1950,GasA,334,1,0,1,0,NaN,0,N,0,2007-01-01,39300
1,6627,IR1,1Fam,1949,Brookside,1950,Floor,720,1,0,2,0,Detchd,1,Y,0,2008-07-01,72500
2,6240,Reg,1Fam,1947,Brookside,1950,GasA,912,1,0,2,0,NaN,0,N,0,2006-07-01,80500
3,4130,IR1,1Fam,1935,Brookside,2003,GasA,999,1,0,2,0,NaN,0,N,0,2008-07-01,52000
4,6324,IR1,1Fam,1927,Brookside,1950,GasA,1040,1,0,1,0,Detchd,1,Y,0,2008-05-01,68500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,10084,Reg,1Fam,2004,Somerset,2005,GasA,3380,2,0,3,1,Attchd,2,Y,0,2007-08-01,307000
1147,9416,Reg,1Fam,2007,Somerset,2007,GasA,3452,2,0,3,1,Attchd,3,Y,0,2007-09-01,311872
1148,9986,Reg,1Fam,2006,Somerset,2007,GasA,3590,2,0,2,1,Attchd,3,Y,0,2007-02-01,147000
1149,11670,IR1,1Fam,2006,Somerset,2006,GasA,3810,2,0,3,1,Attchd,3,Y,0,2007-03-01,320000
1150,20896,IR2,1Fam,2005,Somerset,2006,GasA,4174,1,1,1,1,Attchd,3,Y,0,2006-01-01,423000

In [12]:
# Converting 'PoolArea' column from integer to boolean

cleaning_data['PoolArea'] = cleaning_data['PoolArea'].astype('bool')

In [13]:
# Making sure data type was changed successfully

cleaning_data.dtypes

LotArea          int64
LotShape        object
BldgType        object
YearBuilt        int64
Neighborhood    object
YearRemodAdd     int64
Heating         object
TtlHouseSF       int64
FullBath         int64
HalfBath         int64
BedroomAbvGr     int64
Fireplaces       int64
GarageType      object
GarageCars       int64
PavedDrive      object
PoolArea          bool
DateSold        object
SalePrice        int64
dtype: object

In [14]:
# Visualize Data

cleaning_data

,LotArea,LotShape,BldgType,YearBuilt,Neighborhood,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,DateSold,SalePrice
0,5000,Reg,1Fam,1946,Brookside,1950,GasA,334,1,0,1,0,NaN,0,N,False,2007-01-01,39300
1,6627,IR1,1Fam,1949,Brookside,1950,Floor,720,1,0,2,0,Detchd,1,Y,False,2008-07-01,72500
2,6240,Reg,1Fam,1947,Brookside,1950,GasA,912,1,0,2,0,NaN,0,N,False,2006-07-01,80500
3,4130,IR1,1Fam,1935,Brookside,2003,GasA,999,1,0,2,0,NaN,0,N,False,2008-07-01,52000
4,6324,IR1,1Fam,1927,Brookside,1950,GasA,1040,1,0,1,0,Detchd,1,Y,False,2008-05-01,68500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,10084,Reg,1Fam,2004,Somerset,2005,GasA,3380,2,0,3,1,Attchd,2,Y,False,2007-08-01,307000
1147,9416,Reg,1Fam,2007,Somerset,2007,GasA,3452,2,0,3,1,Attchd,3,Y,False,2007-09-01,311872
1148,9986,Reg,1Fam,2006,Somerset,2007,GasA,3590,2,0,2,1,Attchd,3,Y,False,2007-02-01,147000
1149,11670,IR1,1Fam,2006,Somerset,2006,GasA,3810,2,0,3,1,Attchd,3,Y,False,2007-03-01,320000
1150,20896,IR2,1Fam,2005,Somerset,2006,GasA,4174,1,1,1,1,Attchd,3,Y,False,2006-01-01,423000

In [15]:
# Convert 'Fireplaces' column from integer to Boolean

cleaning_data['Fireplaces'] = cleaning_data['Fireplaces'].astype('bool')

In [16]:
cleaning_data.dtypes

LotArea          int64
LotShape        object
BldgType        object
YearBuilt        int64
Neighborhood    object
YearRemodAdd     int64
Heating         object
TtlHouseSF       int64
FullBath         int64
HalfBath         int64
BedroomAbvGr     int64
Fireplaces        bool
GarageType      object
GarageCars       int64
PavedDrive      object
PoolArea          bool
DateSold        object
SalePrice        int64
dtype: object

In [17]:
# Visualize Data

cleaning_data.head(30)

,LotArea,LotShape,BldgType,YearBuilt,Neighborhood,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,DateSold,SalePrice
0,5000,Reg,1Fam,1946,Brookside,1950,GasA,334,1,0,1,False,NaN,0,N,False,2007-01-01,39300
1,6627,IR1,1Fam,1949,Brookside,1950,Floor,720,1,0,2,False,Detchd,1,Y,False,2008-07-01,72500
2,6240,Reg,1Fam,1947,Brookside,1950,GasA,912,1,0,2,False,NaN,0,N,False,2006-07-01,80500
3,4130,IR1,1Fam,1935,Brookside,2003,GasA,999,1,0,2,False,NaN,0,N,False,2008-07-01,52000
4,6324,IR1,1Fam,1927,Brookside,1950,GasA,1040,1,0,1,False,Detchd,1,Y,False,2008-05-01,68500
5,6120,Reg,1Fam,1936,Brookside,1950,Grav,1064,1,0,1,True,NaN,0,N,False,2009-01-01,60000
6,5330,Reg,1Fam,1940,Brookside,1950,GasA,1128,1,0,2,False,NaN,0,Y,False,2009-12-01,82500
7,6000,Reg,1Fam,1921,Brookside,1950,GasA,1232,1,0,2,False,Detchd,1,Y,False,2006-06-01,89000
8,5900,IR1,1Fam,1923,Brookside,1958,GasA,1309,1,0,2,False,NaN,0,Y,False,2006-08-01,85500
9,5825,IR1,1Fam,1926,Brookside,1953,GasA,1347,1,0,1,False,Detchd,2,Y,False,2006-06-01,79900
10,6130,Reg,1Fam,1924,Brookside,1950,GasA,1568,1,0,2,False,NaN,0,Y,False,2008-05-01,109500
11,7446,Reg,1Fam,1941,Brookside,1950,GasA,1576,1,0,2,True,NaN,0,Y,False,2006-04-01,100000
12,6120,Reg,1Fam,1931,Brookside,1993,GasA,1590,1,0,2,False,Detchd,1,Y,False,2009-11-01,105000
13,10267,Reg,1Fam,1918,Brookside,2000,GasA,1654,1,0,2,False,Detchd,1,N,False,2008-05-01,130000
14,9100,Reg,1Fam,1930,Brookside,1960,GasA,1677,1,0,2,False,Detchd,1,P,False,2008-08-01,79500
15,6120,Reg,1Fam,1929,Brookside,2001,GasA,1686,1,0,2,False,Detchd,2,Y,False,2007-07-01,132000
16,7207,IR1,1Fam,1958,Brookside,2008,GasA,1716,1,0,2,False,NaN,0,Y,False,2010-02-01,116500
17,7438,IR1,1Fam,1908,Brookside,1991,GasA,1756,1,0,3,False,Attchd,2,Y,False,2006-06-01,127000
18,6120,Reg,1Fam,1925,Brookside,1950,GasA,1783,1,0,3,False,Detchd,1,Y,False,2006-07-01,88000
19,6000,Reg,1Fam,1926,Brookside,2004,GasA,1788,1,0,2,False,Detchd,1,Y,False,2009-01-01,119000
20,6000,Reg,1Fam,1937,Brookside,2000,GasA,1874,1,0,2,False,Detchd,2,N,False,2009-07-01,134900
21,8854,Reg,1Fam,1916,Brookside,1950,Grav,1904,1,0,2,True,Detchd,1,P,False,2009-05-01,121000
22,7015,IR1,1Fam,1950,Brookside,1950,GasA,1912,1,0,3,True,Detchd,1,Y,False,2009-07-01,110000
23,9873,Reg,2fmCon,1970,Brookside,1970,GasW,1920,1,0,3,False,Detchd,2,Y,False,2006-05-01,129000
24,6180,Reg,1Fam,1926,Brookside,1950,GasA,1946,1,0,2,True,Detchd,1,Y,False,2007-05-01,102000
25,6000,Reg,1Fam,1941,Brookside,1950,GasA,1953,1,0,3,True,Detchd,2,Y,False,2007-03-01,131000
26,8635,Reg,1Fam,1948,Brookside,2001,GasA,1957,1,0,2,False,Detchd,1,Y,False,2008-01-01,127000
27,6155,IR1,1Fam,1920,Brookside,1999,GasA,1973,2,0,3,False,Detchd,2,Y,False,2008-06-01,128000
28,4712,IR1,1Fam,1946,Brookside,1950,GasA,1977,1,1,3,False,Detchd,1,Y,False,2006-08-01,121600
29,6240,Reg,1Fam,1934,Brookside,1950,GasA,1992,1,0,3,True,Detchd,2,Y,False,2006-09-01,114500

In [19]:
# Export as CSV

cleaning_data.to_csv('Clean_Data.csv', header=True, index=False)

In [20]:
cleaning_data.corr()

C:\Users\Xthea\AppData\Local\Temp\ipykernel_28120\1533700657.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cleaning_data.corr()

,LotArea,YearBuilt,YearRemodAdd,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageCars,PoolArea,SalePrice
LotArea,1.000000,0.032070,0.024906,0.303885,0.152910,0.025644,0.127804,0.172575,0.162407,0.078069,0.262192
YearBuilt,0.032070,1.000000,0.595576,0.349927,0.465746,0.219756,-0.070259,0.256143,0.549396,0.025291,0.509915
YearRemodAdd,0.024906,0.595576,1.000000,0.355807,0.424460,0.163190,-0.035937,0.182326,0.439427,0.002756,0.499157
TtlHouseSF,0.303885,0.349927,0.355807,1.000000,0.600592,0.241234,0.344441,0.443979,0.562221,0.203740,0.789973
FullBath,0.152910,0.465746,0.424460,0.600592,1.000000,0.148535,0.359885,0.330478,0.492873,0.050501,0.572226
HalfBath,0.025644,0.219756,0.163190,0.241234,0.148535,1.000000,0.265891,0.251603,0.205526,0.041751,0.280910
BedroomAbvGr,0.127804,-0.070259,-0.035937,0.344441,0.359885,0.265891,1.000000,0.103416,0.087052,0.070250,0.174427
Fireplaces,0.172575,0.256143,0.182326,0.443979,0.330478,0.251603,0.103416,1.000000,0.388080,0.064456,0.483200
GarageCars,0.162407,0.549396,0.439427,0.562221,0.492873,0.205526,0.087052,0.388080,1.000000,0.018865,0.661106
PoolArea,0.078069,0.025291,0.002756,0.203740,0.050501,0.041751,0.070250,0.064456,0.018865,1.000000,0.094590
SalePrice,0.262192,0.509915,0.499157,0.789973,0.572226,0.280910,0.174427,0.483200,0.661106,0.094590,1.000000