In [68]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [69]:
# Load the data into a pandas DataFrame
data_df = pd.read_csv("../../main/Resources/Clean_Data_Model.csv")
print(data_df.isnull().sum())

LotArea          0
LotShape         0
BldgType         0
YearBuilt        0
Neighborhood     0
YearRemodAdd     0
Heating          0
TtlHouseSF       0
FullBath         0
HalfBath         0
BedroomAbvGr     0
Fireplaces       0
GarageType      72
GarageCars       0
PavedDrive       0
PoolArea         0
MoSold           0
YrSold           0
SalePrice        0
dtype: int64

In [70]:
data_df.dropna(inplace=True)
data_df.fillna(data_df.mean(), inplace=True)
print(data_df.isnull().sum())
data_df

LotArea         0
LotShape        0
BldgType        0
YearBuilt       0
Neighborhood    0
YearRemodAdd    0
Heating         0
TtlHouseSF      0
FullBath        0
HalfBath        0
BedroomAbvGr    0
Fireplaces      0
GarageType      0
GarageCars      0
PavedDrive      0
PoolArea        0
MoSold          0
YrSold          0
SalePrice       0
dtype: int64

C:\Users\sa\AppData\Local\Temp\ipykernel_3152\1515500477.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_df.fillna(data_df.mean(), inplace=True)

,LotArea,LotShape,BldgType,YearBuilt,Neighborhood,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,BedroomAbvGr,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,MoSold,YrSold,SalePrice
0,8450,Reg,1Fam,2003,College Creek,2003,GasA,2566,2,1,3,False,Attchd,2,Y,False,2,2008,208500
1,11250,IR1,1Fam,2001,College Creek,2002,GasA,2706,2,1,3,True,Attchd,2,Y,False,9,2008,223500
2,10652,IR1,1Fam,2006,College Creek,2007,GasA,2988,2,0,3,True,Attchd,3,Y,False,8,2007,279500
3,9742,Reg,1Fam,2002,College Creek,2002,GasA,3572,2,0,3,True,Attchd,2,Y,False,9,2008,230000
4,11049,Reg,1Fam,2007,College Creek,2007,GasA,2468,2,0,3,False,Attchd,2,Y,False,1,2008,179900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,9842,Reg,1Fam,1921,South & West of Iowa State University,1998,GasA,3213,3,1,4,False,BuiltIn,2,Y,False,5,2008,189000
1147,6292,Reg,1Fam,1930,South & West of Iowa State University,1950,GasA,1558,1,0,2,False,Detchd,1,Y,False,4,2008,91000
1148,6171,Reg,1Fam,1925,South & West of Iowa State University,1990,GasA,2584,2,1,3,True,Detchd,1,Y,False,10,2009,137450
1149,1950,Reg,Twnhs,1980,Bluestem,1980,GasA,2272,2,1,3,True,Attchd,2,Y,False,7,2008,151000
1150,1300,Reg,TwnhsE,1980,Bluestem,1980,GasA,1790,1,1,2,True,Attchd,2,Y,False,5,2009,124000

In [73]:
# Define the predictor variables and the target variable
X = data_df[["Neighborhood", "YearRemodAdd","TtlHouseSF","Fireplaces", "YrSold"]]
y = data_df["SalePrice"]

In [74]:

# Split the data into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Remove rows with NaN values in y_train
y_train = y_train.dropna()

# Remove corresponding rows in X_train
X_train = X_train.loc[y_train.index]

# Create an instance of the LinearRegression model
reg = LinearRegression()

In [75]:
# Make sure sample datasets have the same number of records
print(data_df.shape[0]) 
print(X_train.shape[0])
print(y_train.shape[0])
print(X_test.shape[0])
print(y_test.shape[0])

1079
863
863
216
216

## Encode the other categorical variables to convert categorical values to numeric values

In [76]:

# Fit and transform the LotShape column of the training set
X_train_encoded = ohe.fit_transform(X_train[['Neighborhood']])

# Transform the LotShape column of the test set
X_test_encoded = ohe.transform(X_test[['Neighborhood']])

# Convert the encoded data to a DataFrame
X_train_encoded = pd.DataFrame(X_train_encoded.toarray(), columns=ohe.get_feature_names_out(['Neighborhood']))
X_test_encoded = pd.DataFrame(X_test_encoded.toarray(), columns=ohe.get_feature_names_out(['Neighborhood']))

# Concatenate the encoded DataFrame to the original DataFrame
X_train = pd.concat([X_train, X_train_encoded], axis=1)
X_test = pd.concat([X_test, X_test_encoded], axis=1)

# drop the original column
X_train.drop(columns=["Neighborhood"], inplace=True)
X_test.drop(columns=["Neighborhood"], inplace=True)

In [77]:

# Fit and transform the LotShape column of the training set
X_train_encoded = ohe.fit_transform(X_train[['Fireplaces']])

# Transform the LotShape column of the test set
X_test_encoded = ohe.transform(X_test[['Fireplaces']])

# Convert the encoded data to a DataFrame
X_train_encoded = pd.DataFrame(X_train_encoded.toarray(), columns=ohe.get_feature_names_out(['Fireplaces']))
X_test_encoded = pd.DataFrame(X_test_encoded.toarray(), columns=ohe.get_feature_names_out(['Fireplaces']))

# Concatenate the encoded DataFrame to the original DataFrame
X_train = pd.concat([X_train, X_train_encoded], axis=1)
X_test = pd.concat([X_test, X_test_encoded], axis=1)

# drop the original column
X_train.drop(columns=["Fireplaces"], inplace=True)
X_test.drop(columns=["Fireplaces"], inplace=True)

In [78]:
# Remove rows with NaN values in y_train
y_train = y_train.dropna()

# Remove corresponding rows in X_train
X_train = X_train.loc[y_train.index]
X_test = X_test.loc[y_test.index]

print(data_df.shape[0]) 
print(X_train.shape[0])
print(y_train.shape[0])
print(X_test.shape[0])
print(y_test.shape[0])
#print(y_pred.shape[0])

1079
863
863
216
216

In [79]:
X_test.dropna(inplace=True)
y_test = y_test[X_test.index]
X_train.dropna(inplace=True)
y_train = y_train[X_train.index]

#print(y_pred.shape[0])# should be equal to y_train.shape[0]

print(y_test.shape[0])
print(X_test.shape[0])

43
43

In [80]:
# Fit the model to the training data
reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = reg.predict(X_test)

In [81]:
# Add a new column to the original dataset DataFrame
data_df["Predicted_Price"] = np.nan

data_df.reset_index(drop=True, inplace=True)

# Add the actual value of SalePrice to the original dataset for comparison purpose
data_df.loc[X_test.index, "Actual_Price"] = y_test

# Assign the predicted values to the new column
data_df.loc[X_test.index, "Predicted_Price"] = y_pred
data_df

,LotArea,LotShape,BldgType,YearBuilt,Neighborhood,YearRemodAdd,Heating,TtlHouseSF,FullBath,HalfBath,...,Fireplaces,GarageType,GarageCars,PavedDrive,PoolArea,MoSold,YrSold,SalePrice,Predicted_Price,Actual_Price
0,8450,Reg,1Fam,2003,College Creek,2003,GasA,2566,2,1,...,False,Attchd,2,Y,False,2,2008,208500,NaN,NaN
1,11250,IR1,1Fam,2001,College Creek,2002,GasA,2706,2,1,...,True,Attchd,2,Y,False,9,2008,223500,NaN,NaN
2,10652,IR1,1Fam,2006,College Creek,2007,GasA,2988,2,0,...,True,Attchd,3,Y,False,8,2007,279500,240979.995468,279500.0
3,9742,Reg,1Fam,2002,College Creek,2002,GasA,3572,2,0,...,True,Attchd,2,Y,False,9,2008,230000,272450.772572,230000.0
4,11049,Reg,1Fam,2007,College Creek,2007,GasA,2468,2,0,...,False,Attchd,2,Y,False,1,2008,179900,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,9842,Reg,1Fam,1921,South & West of Iowa State University,1998,GasA,3213,3,1,...,False,BuiltIn,2,Y,False,5,2008,189000,NaN,NaN
1075,6292,Reg,1Fam,1930,South & West of Iowa State University,1950,GasA,1558,1,0,...,False,Detchd,1,Y,False,4,2008,91000,NaN,NaN
1076,6171,Reg,1Fam,1925,South & West of Iowa State University,1990,GasA,2584,2,1,...,True,Detchd,1,Y,False,10,2009,137450,NaN,NaN
1077,1950,Reg,Twnhs,1980,Bluestem,1980,GasA,2272,2,1,...,True,Attchd,2,Y,False,7,2008,151000,NaN,NaN
1078,1300,Reg,TwnhsE,1980,Bluestem,1980,GasA,1790,1,1,...,True,Attchd,2,Y,False,5,2009,124000,NaN,NaN

In [82]:
# Write the dataframe to a CSV file
data_df.to_csv('../../main/Resources/predicted_data2', index=False)

## Evaluate the model

In [83]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, explained_variance_score, mean_squared_log_error, median_absolute_error

# Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

# Mean Squared Error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Root Mean Squared Error
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

# R-squared
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

#Adjusted R-squared
n = X_test.shape[0]
p = X_test.shape[1]
adjusted_r2 = 1 - (1-r2)*(n-1)/(n-p-1)
print("Adjusted R-squared:", adjusted_r2)

#Explained variance score
exp_var_score = explained_variance_score(y_test, y_pred)
print("Explained variance score:", exp_var_score)

#Mean squared logarithmic error
msle = mean_squared_log_error(y_test, y_pred)
print("Mean squared logarithmic error:", msle)

#Median absolute error
med_ae = median_absolute_error(y_test, y_pred)
print("Median absolute error:", med_ae)

Mean Absolute Error: 18436.824119537196
Mean Squared Error: 551192919.4134811
Root Mean Squared Error: 23477.498150643758
R-squared: 0.7354699864977012
Adjusted R-squared: 0.07414495274195432
Explained variance score: 0.7355367023310109
Mean squared logarithmic error: 0.015665102188869955
Median absolute error: 16929.4251627262